
/* STYLE SHEET FOR PROJECT PAGE  */





body {
margin: 0;
text-align: center;
font-family: 'Raleway';
color: black;
background-color:  #C5E7DF;
}


.Heading-container {
    position: relative;
    padding-top: 100px;
  }
  
  
  
  
  
h1 {
  margin: 50px auto 0 auto;
  font-family:'Raleway Bold';
  color: #444649;;
  font-size: 4rem;
  line-height: 2;
  text-align: center;
}

p {
  font-family: 'Raleway',;
}

.projectimg {


}


.parent {
  display:flex;
  flex-direction: row;
  align-items: space-between;
  fle


}


.projectdiv {
  flex-flow: ;
  flex-grow:5;
  margin: 20px;

}
