

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Homemade+Apple&family=Inconsolata:wght@400;700&family=Zilla+Slab:wght@300&display=swap');


:root {
  --primary-color: #FFEFD6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}

a:active {
  text-decoration: none;
}

a {
  text-decoration: none;
}


body {
  margin: 0;
  text-align: center;
  font-family: WulkanDisplayRegular;
  background-color: var(--primary-color) !important;

}

.navbar {
  background-color: #FFEFD6; 
}

.navbar-inner {
  background:transparent;
}

.navbar-nav {
  margin-left: auto;
}
.navbar a {
  color: #F17970;
 
}

#LOGO {
  font-family: 'Homemade Apple';
}

.nav-link{
  color: #F17970;
  font-family:'Zilla Slab', serif;
  font-size: 1.5rem;

}



p {
    line-height: 2;
    width: auto
}

hr  {
  border: dotted 6px;
  color: #eaf6f6;
  width: 4%;
  border-bottom: none;
  margin: 100px auto 100px auto;
}






h1 {
  margin: 50px auto 0 auto;
  font-family: "Canela";
  font-size: 5.625rem;
  color: #012d72;
  line-height: 1;
  font-weight: 100;
}

#basetxt {
  color: #EAF6F6;
}

.lightbluetext {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #4AB19A;
  padding-bottom: 10px;
  padding-top: 40px;
}



h2 {
  font-family: 'Zilla Slab', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.footer-link {
  color:#11999E;
}




.centered-container {

background-color: #FFEFD6;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 5%;
padding-bottom: 10%;

}

.lineoftxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoline {
  display: flex;
  width: 100%;
  height: 30%;
 padding: top 30px;
 padding-bottom: 30px;
 align-items: center;
 justify-content: center;
 
}

.flextxtstyled:nth-last-of-type(1) {
justify-self: center;
font-size: 2.5rem;
font-family: 'Homemade Apple', cursive;
padding-top: 3%;
overflow-wrap: break-word;
}

.outerdivtxt {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  
}

.smalltxt {
 display: flex;
 flex-grow: 1;
 position: relative;
  align-content: flex-end;
  z-index: 1000;
  font-size: 2rem;
  left: 45%;
  top: 35%;
  rotate: 10deg;

}




.flextxt {
    justify-content: center;
    align-self: center;
    position: static;
    display: inline;
    overflow: visible;
    height: auto;
    max-width: none;
    margin-bottom: 0;
    padding-right: 15px;
    font-family: 'Zilla Slab', serif;
    color: #002d72;
    font-size: 5em;
    line-height: 1.3em;
    font-weight: 300;

}

.recipe {
display:inline-block;
align-self: flex-end;
justify-self: flex-end ;
text-decoration: none;

}

.flextxlogo {
    position: static;
    display: inline-block;
    overflow: visible;
    height: auto;
    max-width: none;
    margin-bottom: 0;
    padding-right: 15px;
    font-family: 'Canela',sans-serif;
    color: #002d72;
    font-size: 3em;
    line-height: 1.3em;
    font-weight: 300;

}

.cheftxt {
  display: flex;
  flex-direction: row;
}

.fleximg {
    position: static;
    display: inline-block;
    cursor: help;
  align-self: flex-end;
  margin-left: 5%;

}

.fleximage {
  display: flex;
  height:5rem; 
  width:5rem;
  align-self: flex-start;
}

.flextxtstyled {
  color: #F17970;
  font-family: 'Homemade Apple', cursive;
  display: flex;
}



/* About me */


.containeraboutmemain {

background-color: #FFEFD6;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 10%;


}

.pictureaboutme {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.quote {
  margin: 5%;
}



.containerrow {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
  padding: 0 5% 0 5%;
}

.colhalf {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.signature {
  color: #F17970;
  font-family: 'Homemade Apple', cursive;
  font-size: 2rem;
  align-items: flex-end;
  margin-left: 55%;
  margin-bottom: 5%;

}

.colheader {
  width: 80%;
  justify-content: center;
     font-family: 'Zilla Slab', serif;
}

.aboutmetxt {
  width: 100%;
  font-size: 1.5rem;
  text-align: left;
  padding: 5px 5% 0 5%;
  font-family: 'Zilla Slab', serif;
}


/* Skills section cards */


.cardcontainer {
  width: 100%;
  min-height: 80vh;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 90px;
}

.Cardsskills {
  background-color: #FFEFD6;
}

.cardrow {
  width: 80%;
  margin: auto;
}

.cardheader {
  width:60%;
  text-align: center;
  margin: auto;
}

.cardheader h2 {
  padding-top: 30px;

}

.myskill {
    color: #F17970;
}

.umyskill {
   font-family: 'Zilla Slab', serif;
   font-size: 2rem;
   padding:3%;
}

.cardheader p {
  margin-top:15px;
  line-height: 1.5;
}

.contentsection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  flex: 1;
  margin: 20px 20px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0, 0.2);
}

.cardtext {
  padding: 8%;
  font-family: 'Zilla Slab', serif;
  font-size: 1.3rem;

}


.contentsection .card img {
  width:100%;
  height: auto;
}

.contentsection .card h3 {
  margin:15px 0px;
  color: #F17970;
}

.contentsection .card p {
line-height: 1.5;

}




















/* <------------- BLOG PAGE CSS  ----------------> */

.top-wrapper {
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #E0EBE8;
  position: relative;
  padding-top: 100px;
  position: relative;
  height: 25%;
  
}

.blogtext {
top: 600px;
background-color: black;
width:600px;
position:absolute;
}

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #E0EBE8;
  position: relative;
  padding-top: 100px;
  height: 1500px;
  flex-wrap: wrap;
  margin-top: 300px;

}

.blogitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.blogimg {
  width:  500px;
  height: 600px;
  margin: 20px;
  }

.blogimg:hover {
  cursor: pointer;
  filter: grayscale(60%);
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }


  


@media screen and (max-width: 991px) 
{
    .hidesmall {display: none;}
    .contentsection {flex-direction: column;}
    .containerrow {flex-direction: column;}
    .colhalf {width: 100%;}
    .colreverse {flex-direction: column-reverse !important;} 
    .flextxtsmall { font-size: 2rem;}
    .signature { margin: 0;}
    .cardheader {width: 100%;}
    .umyskill { font-size: 1.5rem; padding: 0 30px 0 30px;}
    }




